*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(135deg, #f5f7fb, #e9efff);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}


.container {
  margin-top: 30px;
}

.card {
  border-radius: 14px;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.table {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.btn {
  border-radius: 8px !important;
  font-weight: 500;
}

.form-control {
  border-radius: 8px;
  padding: 10px;
}

h2, h3, h4 {
  font-weight: 600;
}
